body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Board{
  
  height: 30.8rem;
  width: 30.4rem;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.Square{
  height: 10rem;
  width: 10rem;
  border: 1px solid black;
}


.Square:hover{
  background-color: chocolate;
  cursor: pointer;
}
.letter{
  text-align: center;
  margin-top: 40%;
  font-size: 30px;
}